$Dark-Blue-intro-and-email-sign-up-background: hsl(217, 28%, 15%);
nav {
  padding: 1.5rem 1rem;
  background-color: $Dark-Blue-intro-and-email-sign-up-background;
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
  img {
    height: 2.5rem;
  }
  #first {
    margin-left: 0;
    margin-right: auto;
  }
}
